<div class="form-page">
    <h1><%= title %></h1>

    <!-- Flash message -->
    <%- messages() %>

        <!-- Links to other views -->
        <div class="man-btn">
            <ul>
                <li><a href="/inv/add-classification">Add New Classification</a></li>
                <li><a href="/inv/add">Add New Inventory Item</a></li>
            </ul>
        </div>
</div>


    
